.signInWrapper {
  position: absolute;
  left: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 100vh;
  /* background-color: #757171; */
}

.header{
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  top: 0px;
  color: black;
  text-align: center;
}

.title{
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  top: 0px;
  color: black;
  text-align: center;
}

.signInContainer {
  background: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signInForm h2 {
  margin-bottom: 20px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
  color: black;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Make sure padding doesn't affect the final size */
}

.error {
  color: #d32f2f;
  margin-bottom: 20px;
  text-align: center;
}

.signIn{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 130px;
  position: relative;
  top: 40px;
  left: 150px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.adminSignIn{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 120px;
  position: absolute;
  text-decoration: none;
  top: 460px;
  left: 500px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.profSignIn{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 130px;
  position: absolute;
  text-decoration: none;
  top: 460px;
  left: 190px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.libSignIn{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 120px;
  position: absolute;
  text-decoration: none;
  top: 460px;
  left: 350px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.inFormText{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.adminSignIn:hover, .libSignIn:hover, .profSignIn:hover {
  background-color: #0056b3;
}
