body, .App {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* Adjusted to prevent overlap with navbar */
    background-color: #e8e3e3;
    color: #fff; /* Ensure text is readable against the darker background */
  }
  
  h1, h2 {
    color: #fff;
  }
  
  .searchForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .searchForm input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px; 
    border-radius: 5px;
    border: none;
  }
  
  .searchForm button {
    padding: 10px;
    cursor: pointer;
    background-color: #583c3c;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  /* Hover effect for buttons */
  .searchForm button:hover {
    background-color: #7c5454;
  }
  
  /* Further styling for the home content */
  .homeContent {
    text-align: center;
    padding: 20px;
  }
  
  
  body {
    padding-top: 50px;
  }
  
  
  .App {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #cecaca;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #book-list {
    margin-bottom: 20px;
  }
  
  .book {
    background-color: #9e8b8b;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #book-form > input[type="text"] {
    padding: 10px;
    margin-right: 10px;
  }
  
  #book-form > input[type="submit"] {
    padding: 10px;
    cursor: pointer;
  }