.topReads {
  margin-top: 40px;
  margin-bottom: 0px;
}

.welcome{
  margin-top:45px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.topReadsText{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  position: relative;
  top:-8px;
}

.searchText{
  margin-bottom:0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
}


.topReadsGallery {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  gap: 7px; /* Adjusts the space between items */
  justify-content: center; /* Center items horizontally */
}

.topReadsGallery .book {
  width: 300px; /* Adjust based on your preference */
  text-align: center;
  height: auto;
  background-color: white; /* Centers the book title under the image */
  border-radius: 15px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 8px;
  /* border: 3px solid #0e4cc8; */
}

.topReadsGallery img {
  width: 100%; /* Makes the image fill the container */
  position: relative;
  min-height: 450px;
  top: 0px;
  height: auto; /* Keeps the aspect ratio of the image */
  /*border-radius: 15px; Optional: adds rounded corners to the images */
  border: 3px solid rgb(0, 0, 0);
}


.searchForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: auto;
  width: auto;
  
}

.searchForm input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 500px; 
  height: 4s0px;
  border-radius: 5px;
  border: 3px solid black;
}

.searchForm input::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.searchForm button {
  padding: 10px;
  cursor: pointer;
  background-color: #583c3c;
  color: white;
  border: none;
  border-radius: 5px;
  border: 3px solid black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

/* Hover effect for buttons */
.searchForm button:hover {
  background-color: #7c5454;
}

/* Further styling for the home content */
.homeContent {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.info{
  background-color: #94c3e8;
  position: absolute;
  top: 1200px;
  right: 0px;
  margin-bottom: 20px;
  width: 100%px;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.aboutText{
  font-size: 15px;
  margin-top: 0px;
}

.aboutHead{
  font-size: 20px;
  margin-bottom: 2px;;
}