.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background-color: #94c3e8;
  color: black;
  z-index: 1000; 
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  padding: 20px 30px;
}

.navbar a {
  text-decoration: none;
  color: rgb(8, 8, 8);
}

.homeButton:hover, .signInButton:hover {
  background-color: #7c6a6a;
}

.homeButton {
  /* border-radius: 10px; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 50px;
  padding-top: 0;
  height: 5px;
  position: absolute;
  top: 6px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(7, 7, 7);
}

.signInButton {
  /* border-radius: 10px; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 135px;
  padding-top: 0;
  height: 5px;
  position: absolute;
  top: 6px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(9, 9, 9);
}

.hours {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 135px;
  padding-top: 0;
  height: 5px;
  position: absolute;
  top: 6px;
  right: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(5, 5, 5);
  border: 2px solid rgb(10, 10, 10);
}

.events {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 135px;
  padding-top: 0;
  height: 5px;
  position: absolute;
  top: 6px;
  right: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(5, 5, 5);
  border: 2px solid rgb(10, 10, 10);
}

/* Added styling for the "Add Book" button */
.addBookButton {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 20px 30px;
  position: absolute;
  top: 6px;
  right: 450px; /* Adjust the positioning according to your preference */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(7, 7, 7); /* Adjust border color as needed */
}

.addBookButton:hover {
  background-color: #7c6a6a;
}